.textContainer {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.textContainer * {
	text-decoration: none;
	color: #1f1d1d;
}

.textContainer h1 {
	font-family: Avenir;
	font-style: normal;
	font-weight: 900;
	font-size: 60px;
	/* line-height: 171px; */

    margin-top: 10vh;
    margin-bottom: 5vh;
}

.textContainer h2 {
	font-family: Avenir;
	font-style: normal;
	font-weight: 900;
	font-size: 35px;
    
    margin: 0;
}

.triangleContainer {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: -1;
}
